body {
    background-color: #7899c2;
    color: #1d012b;
    
    font-family: "Open Sans", Arial;
    font-size: 17px;
    padding: 15px;
    margin: 0;
    background-image: url(img/gedung.png);
    }
    .container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 16px 32px;
    overflow: hidden;
  }
    
  li {
    float: right;
  }
  
  .logo {
    float: left;
  }
  li a {
    display: block;
    color: #3a3a3a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .logo-text{
    font-style: italic;
  }
    
  li a:hover:not(.active) {
    color:  #00123f;
  }
    
  .active {
    color: #00123f;
  }
.content {
background-color: #ffffff;
border-radius: px;
max-width: 850px;
margin-left: auto;
margin-right: auto;
color: darkcyan;

}
.content-header{ margin-bottom: 0; }
.content-text {
font-size: 20px;
margin: 0;
}

.section {
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}
.section-header{
color:#004258;
text-shadow: 3px 2px 1px #a7a7a7;
text-align: center;
font-size: 20px;
margin-top: 30px;
margin-bottom: 30px;
}

.section img{
  width: 300px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.footer-main {
  background-color: #6598b8;
  padding: 24px 60px;
  color: #004258;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 100%;
  justify-items: center;
}

